# {{ ansible_managed }}

scrape_configs:
  - job_name: mimir
    static_configs:
      - targets: ["mimir:8080"]

  - job_name: cadvisor
    static_configs:
      - targets:
{% for host in groups['docker'] %}
        - {{ host }}:{{ cadvisor_port }}
{% endfor %}

  - job_name: node_exporter
    scrape_timeout: 1m
    static_configs:
      - targets:
{% for host in groups['all'] %}
        - {{ host }}:9100
{% endfor %}