apiVersion: 1
datasources:
- name: InfluxDB-Flux-proxmox
  type: influxdb
  access: proxy
  url: http://influxdb:8086
  jsonData:
    httpMode: POST
    organization: {{ influxdb_init_org }}
    bucket: proxmox
    version: Flux
  secureJsonData:
    token: {{ influxdb_init_api_token }}