# {{ ansible_managed }}

global:
  scrape_interval: 30s
  scrape_timeout: 30s

rule_files: 
  - 'rules/*.yml'

alerting:
  alertmanagers:
    - static_configs:
      - targets:
        - alertmanager:9093

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets:
        - localhost:9090

  - job_name: 'alertmanager'
    static_configs:
      - targets:
        - alertmanager:9093

  - job_name: minio
    metrics_path: /minio/v2/metrics/cluster
    scheme: http
    static_configs:
      - targets: ['minio:9000']

  - job_name: mimir
    static_configs:
      - targets: ["mimir:8080"]

  - job_name: loki
    static_configs:
      - targets: ["loki:3100"]

  - job_name: cadvisor
    static_configs:
      - targets:
{% for host in groups['docker'] %}
        - {{ host }}:{{ cadvisor_port }}
{% endfor %}

  - job_name: node_exporter
    static_configs:
      - targets:
{% for host in groups['all'] %}
        - {{ host }}:9100
{% endfor %}

  - job_name: mysqld_exporter
    static_configs:
      - targets:
{% for host in groups['mariadb'] %}
        - {{ host }}:9104
{% endfor %}